<nav id="coodiv-navbar-header" class="navbar navbar-expand-md fixed-header-layout">
  <div class="container main-header-coodiv-s">
    <a class="navbar-brand" href="/">
      <img class="w-logo" src="/img/header/logo.png" alt="" />
      <img class="b-logo" src="/img/header/logo.png" alt="" />
    </a>
    <button class="navbar-toggle offcanvas-toggle menu-btn-span-bar ml-auto" data-toggle="offcanvas" data-target="#offcanvas-menu-home">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="collapse navbar-collapse navbar-offcanvas" id="offcanvas-menu-home">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a class="nav-link <%= color %>" href="/">Beranda</a>
        </li>

        <li class="nav-item megamenu dropdown">
          <a class="nav-link <%= color %>" href="#" role="button" id="services-megamenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Layanan</a>
          <div class="dropdown-menu coodiv-menu-dropdown" aria-labelledby="services-megamenu">
            <div class="dropdown-menu-wrapper">
              <div class="row justify-content-center bd-highlight mb-3 megamenu-items-header">

                <div class="col-md col-12 bd-highlight">
                  <a class="megamenu-services-box" href="/service/hope">
                    <i style="background-color: #ff2934;" class="fas fa-network-wired"></i>
                    <h5 class="coodiv-text-9 mb-0">HOPE</h5>
                    <p class="coodiv-text-12">Home, Office, Personal & Education. Broadband Internet terjangkau dan dapat diAndalkan.</p>
                  </a>
                </div>

                <div class="col-md col-12 bd-highlight">
                  <a class="megamenu-services-box" href="/service/connex">
                    <i style="background-color: #fede48;" class="fas fa-globe-asia"></i>
                    <h5 class="coodiv-text-9 mb-0">CONNEX</h5>
                    <p class="coodiv-text-12">Akses internet super cepat dengan kualitas terbaik dengan beragam kelebihan dari deka.</p>
                  </a>
                </div>

                <div class="col-md col-12 bd-highlight">
                  <a class="megamenu-services-box" href="/service/dedicated">
                    <i class="fab fa-connectdevelop"></i>
                    <h5 class="coodiv-text-9 mb-0">DEDICATED</h5>
                    <p class="coodiv-text-12">Tentukan kecepatan sesuai kebutuhan. Nikmati akses internet spesial untuk Anda.</p>
                  </a>
                </div>

              </div>
            </div>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link <%= color %>" href="/server-info">Jaringan</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link <%= color %>" href="#" role="button" id="header-help-drop-down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Bantuan<span class="sr-only">(current)</span></a>
          <ul class="dropdown-menu coodiv-menu-dropdown coodiv-dropdown-header" aria-labelledby="header-help-drop-down">
            <div class="dropdown-menu-wrapper min-padding">
              <li><a class="dropdown-item" href="/asked">Pertanyaan Umum</a></li>
              <li><a class="dropdown-item" href="/send-messages">Kirim Pesan</a></li>
            </div>
          </ul>
        </li>

        <li class="nav-item two-collomn-drop-down dropdown">
          <a class="nav-link <%= color %>" href="#" role="button" id="header-pages-drop-down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Halaman<span class="sr-only">(current)</span></a>
          <div class="dropdown-menu coodiv-menu-dropdown coodiv-dropdown-header web-menu" aria-labelledby="header-pages-drop-down">
            <div class="dropdown-menu-wrapper min-padding row justify-content-center pages-links">
              <ul class="col-md-12">
                <li><a class="dropdown-item" href="/coverage">Coverage Area</a></li>
                <li><a class="dropdown-item" href="/simulasi">Simulasi Layanan</a></li>
                <li><a class="dropdown-item" href="/bod">Bandwidth on Demand</a></li>
                <li><a class="dropdown-item" href="/partnership">Kemitraan</a></li>
                <li><a class="dropdown-item" href="/confirm-payment">Konfirmasi Pembayaran</a></li>
                <li><a class="dropdown-item" href="/privacy">Kebijakan Privasi</a></li>
              </ul>
            </div>

          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link <%= color %>" href="/contact">Kontak</a>
        </li>
      </ul>
    </div>
    <ul class="header-user-info-coodiv">
      <li class="dropdown">
        <a role="button" id="header-login-dropdown" href="https://apps.deka.net.id">MyDeka</a>
      </li>
    </ul>
  </div>
</nav>
