
<!doctype html>
<html lang="en">

<head>
  <%- include('./partials/head', {page: 'Pertanyaan Umum'}); %>
</head>

<body>

  <%- include('./partials/loading'); %>

  <div id="coodiv-header" class="d-flex mx-auto flex-column moon-edition simple-sub-page">
    <%- include('./partials/navigation', {color: 'dark'}); %>
  </div>


  <div class="bg-default-2 mx-md-15 mx-5 py-20 mt-24">
    <div class="container text-center">
      <h1 class="coodiv-text-3 font-weight-bold">Pertanyaan Umum Dan Informasi</h1>
      <div class="col-lg-6 mx-auto">
        <p class="coodiv-text-9">
          Di bawah ini terdapat beberapa informasi yang mungkin dapat membantu kamu untuk lebih mengenal Deka dan menjawab pertanyaan yang mungkin ingin kamu ketahui.
        </p>
      </div>
    </div>
  </div>

  <section class="pt-10 pb-25 position-relative">
    <div class="body_overlay_ono"></div>
    <div class="container">

      <div class="row question-area-page justify-content-left ">
        <div class="col-md-5 no-phone-display">
          <div class="question-area-answer-navs">
            <div class="nuhost-filter-list-container min-height-auto">
              <!-- q&a filter list container -->
              <ul id="nuhost-filter-list">
                <!-- start q&a filter item list -->
                <li><a class="animated-link" href="#go-to-qst-01">Bagaimana memilih layanan yang sesuai? <i class="fal fa-angle-right"></i></a></li>
                <!-- filter item -->
                <li><a class="animated-link" href="#go-to-qst-02">Bagaimana cara berlanganan? <i class="fal fa-angle-right"></i></a></li>
                <!-- filter item -->
                <li><a class="animated-link" href="#go-to-qst-03">Apa yang saya lakukan jika terjadi gangguan? <i class="fal fa-angle-right"></i></a></li>
                <!-- filter item -->
                <li><a class="animated-link" href="#go-to-qst-04">Apakah jaringan DEKA tersedia di lokasi saya? <i class="fal fa-angle-right"></i></a></li>
                <!-- filter item -->
                <li><a class="animated-link" href="#go-to-qst-05">Bagaimana cara saya membayar tagihan? <i class="fal fa-angle-right"></i></a></li>
                <!-- filter item -->
                <li><a class="animated-link" href="#go-to-qst-06">Apa itu isolir dan kenapa? <i class="fal fa-angle-right"></i></a></li>
                <!-- filter item -->
                <li><a class="animated-link" href="#go-to-qst-07">Bagaimana untuk berhenti berlanganan? <i class="fal fa-angle-right"></i></a></li>
                <!-- filter item -->
              </ul>
              <!-- end q&a filter item list -->
            </div>
            <!-- end q&a filter -->

          </div>
        </div>

        <div class="col-md-7">
          <div class="question-area-answer-body">
            <ul>
              <li id="go-to-qst-01"><span>Bagaimana memilih layanan yang sesuai?</span>
                <p style="text-align: justify">
                  Kamu bisa mencoba menu <a href="/simulasi">Simulasi Layanan</a> untuk mengetahui perkiraan layanan yang sesuai untuk kamu.
                  Atau juga bisa menanyakan langsung pada team Deka dengan menginformasikan kebutuhan dan rencana penggunaan akses internet.
                </p>
              </li>

              <li id="go-to-qst-02"><span>Bagaimana cara berlanganan?</span>
                <p style="text-align: justify">
                  <p>Untuk berlanganan layanan internet cukup dengan menghubungi bagian penjualan. Kami akan menanyakan beberapa informasi seperti nama, lokasi/alamat dan nomor handphone.</p>
                  <p>Selanjutnya team kami akan datang ke lokasi untuk mengetahui kebutuhan perangkat dan ketersedian jaringan. Proses survei ini tidak dipungut biaya.</p>
                  <p>Setelah survei lokasi, bagian penjualan kami akan menghubungi kembali untuk menginformasikan terkait biaya dan jadwal pemasangan/instalasi. </p>
                  <p>Teknisi kami akan datang ke lokasi untuk proses pemasangan jaringan internet sesuai jadwal. Akses internet dapat digunakan segera setelah proses instalasi selesai dilakukan</p>
                  <div class="alert alert-warning" role="alert">
                    <p>Biaya registrasi dibayarkan maksimal 2 hari setelah internet dapat digunakan. Segera lakukan pembayaran untuk menghindari pemutusan jaringan internet</p>
                  </div>
                </p>
              </li>

              <li id="go-to-qst-03"><span>Apa yang saya lakukan jika terjadi gangguan?</span>
                <p style="text-align: justify">
                  Bila terjadi gangguan atau internet tidak dapat digunakan, yang pertama perlu kamu lakukan adalah me-restart modem / access point wifi yang berada di lokasi kamu.
                  Cukup cabut adaptor dari terminal listrik, tunggu sebentar dan pasang kembali. Bila akses internet masih belum dapat digunakan, kamu bisa langsung <a href="/contact">menghubungi kami</a>.
                  Team kami akan segera melakukan pengecekan dan perbaikan. Baik via remote atau datang ke lokasi jika diperlukan.
                </p>
                <div class="alert alert-info" role="alert">
                  <p>Kamu juga bisa mengunjungi halaman <a href="/server-info">Informasi Jaringan</a> untuk mengetahui apakah sedang terjadi gangguan masal atau tidak.</p>
                </div>
              </li>

              <li id="go-to-qst-04"><span>Apakah jaringan DEKA tersedia di lokasi saya?</span>
                <p style="text-align: justify">
                  Saat ini jaringan broadband kami tersedia di area Yogyakarta dan sekitarnya. Namun untuk mengetahui dan memastikan ketersedian jaringan di lokasi kamu,
                  kami perlu untuk mengetahui alamat / koordinat lokasi dan melakukan pengecekan dari system. Kunjungi halaman <a href="/coverage">Coverage</a>, isi data lengkap dan kirim.
                  Kami akan segera menghubungi kamu untuk menginformasikan ketersediaan jaringan di lokasi kamu.
                </p>
              </li>

              <li id="go-to-qst-05"><span>Bagaimana cara saya membayar tagihan?</span>
                <p style="text-align: justify">
                  Saat ini kami hanya menerima pembayaran secara tunai dan transfer ke rekening :
                </p>
                <div class="alert alert-info" role="alert">
                  <p>Bank BCA <b>0377 600 111</b> atas nama <b>PT DEKADATA LINGKAR NUSANTARA</b></p>
                </div>
                <p style="text-align: justify">
                  Kamu perlu mengisi halaman <a href="/confirm-payment">konfirmasi pembayaran</a> setelah transfer ke rekening di atas.
                  Atau kamu juga bisa langsung menghubungi bagian penjualan kami di <a href="/contact">kontak</a> yang telah disediakan.
                </p>
              </li>

              <li id="go-to-qst-06"><span>Apa itu isolir dan kenapa?</span>
                <p style="text-align: justify">
                  Isolir adalah pembatasan/pemutusan akses internet pelanggan. Isolir terjadi dikarenakan adanya tagihan yang telah jatuh tempo pembayaran.
                  Kamu perlu menyelesaikan tagihan dan menghubungi customers support kami terlebih dahulu untuk menghilangkan status isolir ini.
                  Untuk menghindari isolir terjadi, lakukan pembayaran tagihan sesuai dengan  batas waktu yang ditentukan.
                </p>
              </li>

              <li id="go-to-qst-07"><span>Bagaimana untuk berhenti berlanganan?</span>
                <p style="text-align: justify">
                  Untuk berhenti berlanganan layanan kami pastikan kamu telah menyelesaikan tagihan yang ada. Selanjutnya kamu dapat menghubungi customers support kami dan
                  mengisi formulir berhenti berlanganan. Team kami akan menghubungi dan datang ke lokasi untuk melepas perangkat jaringan jika diperlukan.
                </p>
              </li>

            </ul>

          </div>
        </div>
      </div>


      <div class="cta-row-careers mt-20">
        <div class="cta-row-careers_container">
          <h3>Belum menemukan jawaban? Kami dapat membatu!</h3>
          <p class="body-lg">Kirim pesan langsung ke Deka. Kami akan membalas secepatnya</p>
          <a href="/send-messages" tabindex="0">Kirim Pertanyaan</a>
        </div>
      </div>

    </div>
  </section>

  <%- include('./partials/banner'); %>
  <%- include('./partials/footer'); %>

  <!-- jquery -->
  <script src="js/jquery.min.js"></script>
  <script src="js/popper.min.js"></script>
  <!-- bootstrap JavaScript -->
  <script src="js/bootstrap.min.js"></script>
  <!-- template JavaScript -->
  <script src="js/template-scripts.js"></script>
  <!-- flickity JavaScript -->
  <script src="js/flickity.pkgd.min.js"></script>
  <!-- carousel JavaScript -->
  <script src="owlcarousel/owl.carousel.min.js"></script>
  <!-- parallax JavaScript -->
  <script src="js/parallax.min.js"></script>
  <!-- mailchamp JavaScript -->
  <script src="js/mailchamp.js"></script>
  <!-- bootstrap offcanvas -->
  <script src="js/bootstrap.offcanvas.min.js"></script>
  <!-- touchSwipe JavaScript -->
  <script src="js/jquery.touchSwipe.min.js"></script>

  <!-- seconde style additionel JavaScript -->
  <script src="js/particles-code.js"></script>
  <script src="js/particles.js"></script>
  <script src="js/smoothscroll.js"></script>
</body>

</html>
