
<!doctype html>
<html lang="en">

<head>
  <%- include('./partials/head', {page: 'Pertanyaan Umum'}); %>
</head>

<body>

  <%- include('./partials/loading'); %>

  <div id="coodiv-header" class="d-flex mx-auto flex-column moon-edition simple-sub-page">
    <%- include('./partials/navigation', {color: 'dark'}); %>
  </div>


  <div class="bg-default-2 mx-md-15 mx-5 py-20 mt-24">
    <div class="container text-center">
      <h1 class="coodiv-text-3 font-weight-bold">Pertanyaan Umum Dan Informasi</h1>
      <div class="col-lg-6 mx-auto">
        <p class="coodiv-text-9">
          Di bawah ini terdapat beberapa informasi yang mungkin dapat membantu kamu untuk lebih mengenal Deka dan menjawab pertanyaan yang mungkin ingin kamu ketahui.
        </p>
      </div>
    </div>
  </div>

  <section class="pt-10 pb-25 position-relative">
    <div class="body_overlay_ono"></div>
    <div class="container">

      <div class="row question-area-page justify-content-left ">
        <div class="col-md-5 no-phone-display">
          <div class="question-area-answer-navs">
            <div class="nuhost-filter-list-container min-height-auto">
              <!-- q&a filter list container -->
              <ul id="nuhost-filter-list">
                <!-- start q&a filter item list -->
                <li><a class="animated-link" href="#go-to-qst-01">iaculis urna id volutpat lacus laoreet non <i class="fal fa-angle-right"></i></a></li>
                <!-- filter item -->
                <li><a class="animated-link" href="#go-to-qst-02">adipiscing elit ut aliquam purus sit <i class="fal fa-angle-right"></i></a></li>
                <!-- filter item -->
                <li><a class="animated-link" href="#go-to-qst-03">ultrices mi tempus imperdiet <i class="fal fa-angle-right"></i></a></li>
                <!-- filter item -->
                <li><a class="animated-link" href="#go-to-qst-04">augue lacus viverra vitae congue eu consequat <i class="fal fa-angle-right"></i></a></li>
                <!-- filter item -->
                <li><a class="animated-link" href="#go-to-qst-05">nullam vehicula ipsum a arcu cursus <i class="fal fa-angle-right"></i></a></li>
                <!-- filter item -->
                <li><a class="animated-link" href="#go-to-qst-06">malesuada fames ac turpis egestas <i class="fal fa-angle-right"></i></a></li>
                <!-- filter item -->
                <li><a class="animated-link" href="#go-to-qst-07">ornare quam viverra orci sagittis <i class="fal fa-angle-right"></i></a></li>
                <!-- filter item -->
              </ul>
              <!-- end q&a filter item list -->
            </div>
            <!-- end q&a filter -->

          </div>
        </div>

        <div class="col-md-7">
          <div class="question-area-answer-body">
            <ul>
              <li id="go-to-qst-01"><span>iaculis urna id volutpat lacus laoreet non</span>
                <p>
                  Lorem ipsum dolor sit amet, <b>consectetur</b> adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. At tellus at urna condimentum. Ac felis donec et odio pellentesque diam. Mauris ultrices eros in cursus turpis. Sagittis vitae et leo duis ut diam. Sodales ut etiam sit amet nisl purus in mollis nunc. Turpis massa sed elementum tempus egestas sed sed. Tincidunt lobortis feugiat vivamus at augue eget. Aliquet nec ullamcorper sit amet risus nullam eget felis. Porttitor lacus luctus <b>accumsan</b> tortor posuere ac ut. Tincidunt arcu non sodales neque.
                </p>
              </li>

              <li id="go-to-qst-02"><span>adipiscing elit ut aliquam purus sit</span>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sapien eget mi proin sed libero enim sed. In ante metus dictum at. Mauris cursus mattis molestie a. Urna duis convallis convallis tellus id interdum. Risus in hendrerit gravida rutrum quisque non tellus orci. Pharetra sit amet aliquam id diam maecenas. Sed risus ultricies tristique nulla aliquet enim tortor at. Ut sem viverra aliquet eget sit amet. Lacus sed turpis tincidunt id aliquet risus feugiat. Ultricies lacus sed turpis tincidunt. Vitae congue eu consequat ac felis donec et odio pellentesque. Lectus urna duis convallis convallis tellus id. Sit amet porttitor eget dolor morbi non. Pellentesque nec nam aliquam sem et tortor.
                </p>
              </li>

              <li id="go-to-qst-03"><span>ultrices mi tempus imperdiet</span>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vestibulum morbi blandit cursus risus at ultrices mi tempus imperdiet. Non pulvinar neque laoreet suspendisse interdum consectetur libero. Sit amet massa vitae tortor condimentum. Imperdiet sed euismod nisi porta lorem. Et ligula ullamcorper malesuada proin libero. Tempor nec feugiat nisl pretium. Amet venenatis urna cursus eget nunc scelerisque viverra mauris in. Viverra adipiscing at in tellus integer. Ultrices sagittis orci a scelerisque purus semper eget duis at. Tincidunt eget nullam non nisi est sit. Gravida dictum fusce ut placerat orci nulla pellentesque. Maecenas sed enim ut sem viverra. Cursus risus at ultrices mi tempus imperdiet nulla malesuada pellentesque. Sagittis nisl rhoncus mattis rhoncus urna neque viverra justo nec. Tortor at auctor urna nunc id cursus metus aliquam.
                </p>
              </li>

              <li id="go-to-qst-04"><span>augue lacus viverra vitae congue eu consequat</span>
                <p>montes nascetur ridiculus mus mauris vitae ultricies leo integer malesuada</p>
                <div class="alert alert-warning" role="alert">
                  egestas quis ipsum suspendisse ultrices gravida dictum fusce ut placerat orci nulla pellentesque dignissim enim sit amet venenatis urna cursus eget nunc scelerisque viverra mauris in aliquam sem fringilla ut morbi tincidunt augue interdum velit euismod in pellentesque massa placerat duis ultricies lacus sed turpis tincidunt id aliquet risus feugiat
                </div>
              </li>

              <li id="go-to-qst-05"><span>nullam vehicula ipsum a arcu cursus</span>
                <p>velit egestas dui id ornare arcu odio ut sem nulla pharetra diam sit amet nisl</p>
                <div class="alert alert-info" role="alert">
                  sit amet mattis vulputate enim nulla aliquet porttitor lacus luctus accumsan tortor posuere ac ut consequat semper viverra nam libero justo laoreet sit amet cursus sit amet dictum sit amet justo donec enim diam vulputate ut pharetra sit amet aliquam id diam maecenas ultricies mi eget mauris pharetra et ultrices
                </div>
              </li>

              <li id="go-to-qst-06"><span>malesuada fames ac turpis egestas</span>
                <p>
                  accumsan lacus vel facilisis volutpat est velit egestas dui id ornare arcu odio ut sem nulla pharetra diam sit amet nisl suscipit adipiscing bibendum est ultricies integer quis auctor elit sed vulputate mi sit amet mauris commodo quis imperdiet massa tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin libero
                </p>
              </li>

              <li id="go-to-qst-07"><span>ornare quam viverra orci sagittis</span>
                <p>
                  ut tristique et egestas quis ipsum suspendisse ultrices gravida dictum fusce ut placerat orci nulla pellentesque dignissim enim sit amet venenatis urna cursus eget nunc scelerisque viverra mauris in aliquam sem fringilla ut morbi tincidunt augue interdum velit euismod in pellentesque massa placerat duis ultricies lacus sed turpis tincidunt id
                </p>
              </li>

            </ul>

          </div>
        </div>
      </div>


      <div class="cta-row-careers mt-20">
        <div class="cta-row-careers_container">
          <h3>Belum menemukan jawaban? Kami dapat membatu!</h3>
          <p class="body-lg">Kirim pesan langsung ke Deka. Kami akan membalas secepatnya</p>
          <a href="/send-messages" tabindex="0">Kirim Pertanyaan</a>
        </div>
      </div>

    </div>
  </section>

  <%- include('./partials/banner'); %>
  <%- include('./partials/footer'); %>

  <!-- jquery -->
  <script src="js/jquery.min.js"></script>
  <script src="js/popper.min.js"></script>
  <!-- bootstrap JavaScript -->
  <script src="js/bootstrap.min.js"></script>
  <!-- template JavaScript -->
  <script src="js/template-scripts.js"></script>
  <!-- flickity JavaScript -->
  <script src="js/flickity.pkgd.min.js"></script>
  <!-- carousel JavaScript -->
  <script src="owlcarousel/owl.carousel.min.js"></script>
  <!-- parallax JavaScript -->
  <script src="js/parallax.min.js"></script>
  <!-- mailchamp JavaScript -->
  <script src="js/mailchamp.js"></script>
  <!-- bootstrap offcanvas -->
  <script src="js/bootstrap.offcanvas.min.js"></script>
  <!-- touchSwipe JavaScript -->
  <script src="js/jquery.touchSwipe.min.js"></script>

  <!-- seconde style additionel JavaScript -->
  <script src="js/particles-code.js"></script>
  <script src="js/particles.js"></script>
  <script src="js/smoothscroll.js"></script>
</body>

</html>
