<!doctype html>
<html lang="en">

<head>
  <%- include('./partials/head', {page: 'BOD'}); %>
</head>

<body><!-- start body -->

  <%- include('./partials/loading'); %>
  <!-- end preloader -->

  <div id="coodiv-header" class="d-flex mx-auto flex-column moon-edition services-page">
    <span style="background-image: url(/img/images/hand-wifi.jpg);" class="services-page-bg-overflow full-width img-bg"></span>
    <!-- Fixed navbar -->
    <%- include('./partials/navigation', {color: 'dark'}); %>

    <main class="container pt-30">

      <div class="row justify-content-start" style="min-height: 300px;">
        <div class="col-md-7 col-12 p-10">
          <h3 class="main-header-title coodiv-text-3 font-weight-bold text-dark">Bandwidth </h3>
          <h3 class="main-header-title coodiv-text-3 font-weight-bold text-dark">On Demand</h3>
          <p>Terhubung Kapan Saja, Dimana Saja</p>
        </div>
      </div>

    </main>

  </div>


  <section class="py-25">
    <div class="container">
      <div class="col-md-12 col-12 d-flex align-items-center">
        <div class="content-text-author mb-md-0 mb-14">
          <h3 class="coodiv-text-4 font-weight-bold">Apa itu BOD?</h3>
          <p>
            BOD atau Bandwidth On Demand adalah sebuah fitur konektivitas dan layanan internet yang memungkinkan pengguna layanan untuk bisa menambah Bandwidth sesuai dengan kebutuhan dan jadwal yang diperlukan yang bersifat sementara.
          </p>
          <p>
            Dengan kata lain layanan ini adalah layanan sewa internet sementara yang cocok untuk Event Organizer yang membutuhkan bandwidth internet untuk acara tertentu di Hotel, Mall atau Gedung, Cafe, atau tempati lainnya.
          </p>
          <p>
            Perusahaan yang ingin mengadakan event membutuhkan kapasitas layanan bandwidth internet besar selama event berlangsung, baik untuk kebutuhan  video conference, live meeting, live streaming, free wifi pengunjung, dan kebutuhan lain yang bersifat sementara.
          </p>
          <p>
            Layanan ini juga tersedia untuk pelanggan yang telah menggunakan layanan dari Deka sebelumnya. Pelanggan dapat menambkan kapasitas atau kecepatan akses internet pada jangka waktu tertentu.
          </p>
          <span>Kelebihan dari layanan ini adalah :</span>
          <ul>
            <li>Bersifat Addon</li>
            <li>Ekonomis</li>
            <li>Tidak dibebankan biasa bulanan</li>
            <li>Mendukung skalabilitas dan fleksibilitas</li>
          </ul>
          <p>
            Secara default pengguna fitur ini akan mendapatkan semua kelebihan yang didapatkan pada layanan Dedicated. Namun tidak menutup kemungkinan untuk melakukan penyesuaian layanan sesuai dengan kesepakatan berlanganan sebelumnya.
          </p>
        </div>
      </div>
    </div>

    <div class="container mt-15">
      <div class="cta-row-careers mt-20 bg-warning">
        <div class="cta-row-careers_container">
          <h3>Dapatkan Sekarang</h3>
          <p class="body-lg">Untuk mendapatkan layanan BOD Anda dapat langsung menghubungi Deka melalui kontak yang telah disediakan</p>
          <a href="/contact" tabindex="0">Hubungi Kami</a>
        </div>
      </div>
    </div>
  </section>

  <%- include('./partials/banner'); %>
  <%- include('./partials/footer'); %>

  <!-- jquery -->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <!-- bootstrap JavaScript -->
  <script src="/js/bootstrap.min.js"></script>
  <!-- template JavaScript -->
  <script src="/js/template-scripts.js"></script>
  <!-- flickity JavaScript -->
  <script src="/js/flickity.pkgd.min.js"></script>
  <!-- carousel JavaScript -->
  <script src="/owlcarousel/owl.carousel.min.js"></script>
  <!-- parallax JavaScript -->
  <script src="/js/parallax.min.js"></script>
  <!-- mailchamp JavaScript -->
  <script src="/js/mailchamp.js"></script>
  <!-- bootstrap offcanvas -->
  <script src="/js/bootstrap.offcanvas.min.js"></script>
  <!-- touchSwipe JavaScript -->
  <script src="/js/jquery.touchSwipe.min.js"></script>
</body>

</html>
