<!doctype html>
<html lang="en">

<head>
  <%- include('./partials/head', {page: 'Kebijakan Privasi'}); %>
</head>

<body>
  <%- include('./partials/loading'); %>

  <div id="coodiv-header" class="d-flex mx-auto flex-column moon-edition simple-sub-page">
    <%- include('./partials/navigation', {color: 'dark'}); %>
  </div>


  <section class="pb-25 pt-20 position-relative">
    <div class="container">

      <div class="the_breadcrumb_conatiner_page">
        <div class="the_breadcrumb">
          <div class="breadcrumbs"><i class="fas fa-home"></i><a href="/">Deka</a> / Bandwidth on Demand </div>
        </div>
      </div>



    </div>
  </section>

  <%- include('./partials/banner'); %>
  <%- include('./partials/footer'); %>


  <!-- jquery -->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <!-- bootstrap JavaScript -->
  <script src="/js/bootstrap.min.js"></script>
  <!-- template JavaScript -->
  <script src="/js/template-scripts.js"></script>
  <!-- flickity JavaScript -->
  <script src="/js/flickity.pkgd.min.js"></script>
  <!-- carousel JavaScript -->
  <script src="/owlcarousel/owl.carousel.min.js"></script>
  <!-- parallax JavaScript -->
  <script src="/js/parallax.min.js"></script>
  <!-- mailchamp JavaScript -->
  <script src="/js/mailchamp.js"></script>
  <!-- bootstrap offcanvas -->
  <script src="/js/bootstrap.offcanvas.min.js"></script>
  <!-- touchSwipe JavaScript -->
  <script src="j/s/jquery.touchSwipe.min.js"></script>

  <!-- seconde style additionel JavaScript -->
  <script src="/js/particles-code.js"></script>
  <script src="/js/particles.js"></script>
  <script src="/js/smoothscroll.js"></script>
</body>

</html>
