<!doctype html>
<html lang="en">

<head>
  <%- include('./partials/head', {page: 'Kontak'}); %>
</head>

<body>

  <%- include('./partials/loading'); %>

  <div id="coodiv-header" class="d-flex mx-auto flex-column moon-edition simple-sub-page">
    <%- include('./partials/navigation', {color: 'dark'}); %>
  </div>


  <div class="bg-default-2 mx-md-15 mx-5 py-20 mt-24">
    <div class="container text-center">
      <h1 class="coodiv-text-3 font-weight-bold">Team DEKA siap membantu</h1>
      <div class="col-lg-6 mx-auto">
        <p class="coodiv-text-9">
          Hubungi kami kapan saja untuk berlanganan atau mendapatkan informasi lebih lanjut melalui salah satu nomor yang telah kami sediakan di bawah ini.
        </p>
      </div>
    </div>
  </div>

  <section class="pt-5 pb-25 position-relative">
    <div class="container">



      <div class="row justify-content-center nav our-help-center-tabs-nav" id="nav-tab" role="tablist">

        <a class="col-md-4 active" id="nav-first-help-categorie-tab" data-toggle="tab" href="#nav-first-help-categorie" role="tab" aria-controls="nav-first-help-categorie" aria-selected="true">
          <div class="support-contact-us-box">
            <i class="fas fa-lightbulb-exclamation"></i>
            <div class="text">
              <h5>PENJUALAN</h5>
              <p>Berlangganan layanan DEKA atau membutuhkan informasi lengkap produk kami</p>
            </div>
          </div>
        </a>

        <a class="col-md-4" id="nav-second-help-categorie-tab" data-toggle="tab" href="#nav-second-help-categorie" role="tab" aria-controls="nav-second-help-categorie-tab" aria-selected="false">
          <div class="support-contact-us-box">
            <i class="fas fa-bags-shopping"></i>
            <div class="text">
              <h5>PEMBAYARAN</h5>
              <p>Informasi terkait pembayaran dan tagihan untuk pengguna layanan DEKA</p>
            </div>
          </div>
        </a>

        <a class="col-md-4" id="nav-third-help-categorie-tab-tab" data-toggle="tab" href="#nav-third-help-categorie" role="tab" aria-selected="false">
          <div class="support-contact-us-box">
            <i class="fas fa-user-hard-hat"></i>
            <div class="text">
              <h5>NOC</h5>
              <p>Informasi teknis, pelaporan gangguan pelanggan atau informasi jaringan DEKA. </p>
            </div>
          </div>
        </a>

      </div>

      <div class="row justify-content-start mr-tp-30">
        <div id="nav-tabContent" class="col-md-9 tab-content">

          <div class="tab-pane fade show active" id="nav-first-help-categorie" role="tabpanel" aria-labelledby="nav-first-help-categorie-tab">
            <div class="lead-notes-box text-center" style="min-height: 300px;">
              <h4>
                <i class="fas fa-phone mr-2"></i>
                <i class="fab fa-whatsapp mr-2"></i>
                <i class="fab fa-telegram-plane"></i>
              </h4>
              <h5>0812 6000 3205</h5>
              <hr>
              <h4><i class="fas fa-envelope"></i></h4>
              <h5>support@deka.net.id</h5>
              <hr>
              <p>Waktu pelayanan Senin - Sabtu, Pukul 09:00 - 17:00</p>
            </div>
          </div>

          <div class="tab-pane fade" id="nav-second-help-categorie" aria-labelledby="nav-second-help-categorie-tab">
            <div class="lead-notes-box text-center" style="min-height: 300px;">
              <h4>
                <i class="fas fa-phone mr-2"></i>
                <i class="fab fa-whatsapp mr-2"></i>
                <i class="fab fa-telegram-plane"></i>
              </h4>
              <h5>0851 7311 4211</h5>
              <hr>
              <h4><i class="fas fa-envelope"></i></h4>
              <h5>payment@deka.net.id</h5>
              <hr>
              <p>Waktu pelayanan Senin - Sabtu, Pukul 09:00 - 17:00</p>
            </div>
          </div>

          <div class="tab-pane fade" id="nav-third-help-categorie">
            <div class="lead-notes-box text-center" style="min-height: 300px;">
              <h4>
                <i class="fas fa-phone mr-2"></i>
                <i class="fab fa-whatsapp mr-2"></i>
                <i class="fab fa-telegram-plane"></i>
              </h4>
              <h5>0851 7211 4211</h5>
              <hr>
              <h4><i class="fas fa-envelope"></i></h4>
              <h5>noc@deka.net.id</h5>
              <hr>
              <p>Waktu pelayanan setiap hari selama 24 jam</p>
            </div>
          </div>

        </div>

        <div class="col-md-3">
          <h5 class="immediate-help-center-title">Pusat Pelayanan Yogyakarta</h5>
          <p class="immediate-help-center-text">Jl. Parangtritis KM 6.5, Ngijo, Bangunharjo, Sewon, Bantul, Yogyakarta, 55188</p>

          <a class="immediate-help-center-link" href="#">(0274) 422 1111</a>
          <a class="immediate-help-center-link" href="support@deka.net.id">support@deka.net.id</a>
        </div>

        <div class="col-md-12 mr-tp-80">
          <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3952.4236181930464!2d110.35662551536494!3d-7.850655080198579!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7a57a7af1f7591%3A0xab1d69ad6f3fb1ed!2sDekadata%20Lingkar%20Nusantara!5e0!3m2!1sid!2sid!4v1661089877352!5m2!1sid!2sid"
          width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>

    </div>
  </section>

  <%- include('./partials/banner'); %>
  <%- include('./partials/footer'); %>

  <!-- jquery -->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <!-- bootstrap JavaScript -->
  <script src="/js/bootstrap.min.js"></script>
  <!-- template JavaScript -->
  <script src="/js/template-scripts.js"></script>
  <!-- flickity JavaScript -->
  <script src="/js/flickity.pkgd.min.js"></script>
  <!-- carousel JavaScript -->
  <script src="/owlcarousel/owl.carousel.min.js"></script>
  <!-- parallax JavaScript -->
  <script src="/js/parallax.min.js"></script>
  <!-- mailchamp JavaScript -->
  <script src="/js/mailchamp.js"></script>
  <!-- bootstrap offcanvas -->
  <script src="/js/bootstrap.offcanvas.min.js"></script>
  <!-- touchSwipe JavaScript -->
  <script src="/js/jquery.touchSwipe.min.js"></script>

  <!-- seconde style additionel JavaScript -->
  <script src="/js/particles-code.js"></script>
  <script src="/js/particles.js"></script>
  <script src="/js/smoothscroll.js"></script>
</body>

</html>
