<!doctype html>
<html lang="en">

<head>
  <%- include('./partials/head', {page: 'Kerja Sama'}); %>
</head>

<body><!-- start body -->

  <%- include('./partials/loading'); %>
  <!-- end preloader -->

  <div id="coodiv-header" class="d-flex mx-auto flex-column moon-edition services-page">
    <span style="background-image: url(/img/images/partner.jpg);" class="services-page-bg-overflow full-width img-bg"></span>
    <!-- Fixed navbar -->
    <%- include('./partials/navigation', {color: 'white'}); %>

    <main class="container pt-30">

      <div class="row justify-content-start" style="min-height: 300px;">
        <div class="col-md-7 col-12"></div>
      </div>

    </main>

  </div>


  <section class="py-25">
    <div class="container">
      <div class="col-md-12 col-12 d-flex align-items-center">
        <div class="content-text-author mb-md-0 mb-14">
          <h3 class="coodiv-text-4 font-weight-bold">Program Kemitraan</h3>
          <p style="text-align: justify;">
            Melihat kebutuhan dari banyaknya penggiat jasa telekomunikasi yang saat ini masih belum dapat memenuhi kewajibannya secara hukum,
            serta kurangnya dukungan untuk meningkatkan kualitas produk dan layanan yang mereka berikan.
            Kami membuka kesempatan peluang kerjasama bermitra / reseller / francise / subnet dengan kami, yang tentunya sesuai dengan Peraturan Perundangan yang berlaku.
            Tidak hanya sekedar untuk mendapatkan legalitas secara hukum, namun program ini juga dimaksudkan untuk meningkatkan dan mengembangkan usaha bersama.
          </p>
          <hr>

          <h3 class="coodiv-text-4 font-weight-bold">Pandangan Hukum</h3>
          <p style="text-align: justify;">
            Direktur Jenderal Penyelenggaraan Pos dan Informatika Kementerian Komunikasi dan Informatika (Dirjen PPI Kemkominfo) Febran Suryawan,
            mengatakan pemerintah telah mengatur cara p enjualan akses internet dalam Peraturan Menteri Komunikasi dan Informatika Nomor 1 Tahun 2021
            tentang Penyelenggaraan Jasa Telekomunikasi, tentang Perubahan Kedua atas Peraturan Menteri Komunikasi dan Informatika Nomor 13 Tahun 2019
            tentang Penyelenggaraan Jasa Telekomunikasi.
          </p>

          <i><a href="https://jdih.kominfo.go.id/produk_hukum/view/id/760/t/peraturan+menteri+komunikasi+dan+informatika+nomor+1+tahun+2021#:~:text=Peraturan%20Menteri%20Komunikasi%20dan%20Informatika%20Nomor%201%20Tahun%202021,-Unduh&text=Peraturan%20Menteri%20Nomor%201%20Tahun,—Jakarta%2C%202021.">
            Peraturan Menteri Komunikasi dan Informatika Nomor 1 Tahun 2021 tentang Perubahan Kedua atas Peraturan Menteri Komunikasi dan Informatika Nomor 13 Tahun 2019 tentang Penyelenggaraan Jasa Telekomunikasi.
          </a></i>

          <p></p>

          <p style="text-align: justify;">
            Kemudian, reseller juga harus memenuhi ketentuan standar kualitas pelayanan Jasa Telekomunikasi yang setara dengan komitmen penyelenggara sebelumnya.
            "Seluruh pendapatan dari pelaksanaan Jual Kembali (reseller) Jasa Telekomunikasi menjadi pendapatan dari dan dibukukan oleh Penyelenggara Jasa
            Telekomunikasi dan penagihan (billing) mencantumkan merek dagang Penyelenggara Jasa Telekomunikasi,"
            Disebutkan, perusahaan reseller dapat menggunakan merek dagang jasa telekomunikasi yang dijual kembali dan dapat menambahkan merek dagang perusahaan reseller kepada pelanggan.
          </p>
          <hr>

          <h3 class="coodiv-text-4 font-weight-bold">Kenapa harus bermitra?</h3>
          <p>
            Berikut adalah beberapa keuntungan yang Anda dapatkan melalui program kemitraan ini :
          </p>
          <ul>
            <li><b>Keamanan & Kenyamanan</b></li>
            <span>
              Untuk dapat memastikan mitra kami dapat bekerja secara maksimal, aman dan nyaman.
              Tentunya jaminan perlindungan hukum dan kejadiaan luar biasa lainnya menjadi salah satu yang kami tawarkan.
              <b>S&K Berlaku</b>
            </span>
            <li class="mt-3"><b>Administrasi Yang Mudah</b></li>
            <span>
              Mitra kami dapat mengakses aplikasi dan sistem pembayaran secara online yang sudah kami sediakan.
              Sehingga mempermudah pengelelolaan tagihan dan faktur pajak ke pelanggan.
            </span>
            <li class="mt-3"><b>Berkembang & Tumbuh Bersama</b></li>
            <span>
              Seluruh program yang kami rancang untuk membantu pengembangan usaha Anda.
              Sehingga Anda dapat mengelola usaha secara mandiri.
            </span>
            <li class="mt-3"><b>Dukungan Handal</b></li>
            <span>
              Teknisi berpengalaman siap kapanpun selama 24 jam untuk membantu Anda. Memastikan kualitas jaringan tetap baik
              sehingga Anda dapat lebih fokus dalam pengembangan usaha.
            </span>
            <li class="mt-3"><b>Biaya Terjangkau</b></li>
            <span>
              Biaya kemitraaan sangat terjangkau dan sistem pembayaran yang flexibel membuat usaha anda dapat berkembang lebih cepat.
            </span>
            <li class="mt-3"><b>Bandwidth Premium</b></li>
            <span>
              Guna menunjang layanan yang prima, kami menyiapkan infrastruktur untuk mendukung deliver bandwidth yang premium ke mitra kami.
            </span>
          </ul>
          <p>
            Masih banyak lagi keuntungan yang dapat Anda dapatkan dari program kemitraan ini.
          </p>
          <hr>

          <h3 class="coodiv-text-4 font-weight-bold">Prosedur Pendaftaran Kemitraan</h3>
          <p></p>
          <hr>

          <h3 class="coodiv-text-4 font-weight-bold">Persyaratan Mitra Deka</h3>
          <p></p>
          <hr>

          <h3 class="coodiv-text-4 font-weight-bold">Fasilistas</h3>
          <p></p>
          <hr>

        </div>
      </div>
    </div>

    <!-- <div class="container mt-15">
      <div class="cta-row-careers mt-20 bg-warning">
        <div class="cta-row-careers_container">
          <h3>Dapatkan Sekarang</h3>
          <p class="body-lg">Untuk mendapatkan layanan BOD Anda dapat langsung menghubungi Deka melalui kontak yang telah disediakan</p>
          <a href="/contact" tabindex="0">Hubungi Kami</a>
        </div>
      </div>
    </div> -->
  </section>

  <%- include('./partials/banner'); %>
  <%- include('./partials/footer'); %>

  <!-- jquery -->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <!-- bootstrap JavaScript -->
  <script src="/js/bootstrap.min.js"></script>
  <!-- template JavaScript -->
  <script src="/js/template-scripts.js"></script>
  <!-- flickity JavaScript -->
  <script src="/js/flickity.pkgd.min.js"></script>
  <!-- carousel JavaScript -->
  <script src="/owlcarousel/owl.carousel.min.js"></script>
  <!-- parallax JavaScript -->
  <script src="/js/parallax.min.js"></script>
  <!-- mailchamp JavaScript -->
  <script src="/js/mailchamp.js"></script>
  <!-- bootstrap offcanvas -->
  <script src="/js/bootstrap.offcanvas.min.js"></script>
  <!-- touchSwipe JavaScript -->
  <script src="/js/jquery.touchSwipe.min.js"></script>
</body>

</html>
