<!doctype html>
<html lang="en">

<head>
  <%- include('./partials/head', {page: 'Kebijakan Privasi'}); %>
</head>

<body>
  <%- include('./partials/loading'); %>

  <div id="coodiv-header" class="d-flex mx-auto flex-column moon-edition simple-sub-page">
    <%- include('./partials/navigation', {color: 'dark'}); %>
  </div>


  <section class="pb-25 pt-20 position-relative">
    <div class="container">

      <div class="the_breadcrumb_conatiner_page">
        <div class="the_breadcrumb">
          <div class="breadcrumbs"><i class="fas fa-home"></i><a href="/">Deka</a> / Kebijakan Privasi </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 help-center-header">
          <h5 class="help-center-title">Kebijakan Privasi DEKA</h5>
          <p class="help-center-text" style="text-align: justify;">
            Tim Deka peduli dengan privasi Anda. Untuk alasan ini, kami mengumpulkan dan menggunakan informasi pribadi hanya
            jika diperlukan untuk mengirimkan produk, layanan, dan aplikasi seluler kami, dan untuk berkomunikasi
            dengan Anda tentang hal yang sama, atau seperti yang Anda minta <b>(secara bersama-sama disebut "Layanan" kami)</b>.
            Informasi pribadi Anda mencakup informasi seperti:
          </p>
        </div>
      </div>

      <div class="row justify-content-start mr-tp-20">
        <div class="col-md-9 privacy-content mr-tp-40">

          <h4>Informasi apa yang kami kumpulkan, bagaimana kami mengumpulkannya, dan mengapa</h4>
          <p style="text-align: justify;">Kebijakan Privasi kami tidak hanya menjelaskan bagaimana dan mengapa kami menggunakan informasi pribadi Anda yang kami kumpulkan, tetapi juga bagaimana Anda dapat mengakses, memperbarui, atau mengendalikan informasi pribadi Anda. Kami juga telah membuat Pusat Kepercayaan yang menawarkan jawaban atas pertanyaan Anda yang paling umum, tautan untuk mengakses Pengaturan Akun Anda, petunjuk tentang cara menggunakan hak tertentu yang mungkin tersedia untuk Anda, dan definisi istilah dan konsep utama yang dicatat dalam <b>Aturan Privasi</b> ini.</p>
          <p style="text-align: justify;">Jika sewaktu-waktu Anda memiliki pertanyaan tentang praktik kami atau hak Anda yang dijelaskan di bawah, Anda dapat menghubungi Petugas Perlindungan Data kami dan tim khusus kami yang mendukung kantor ini dengan menghubungi kami di admin@deka.net.id. Kotak masuk ini dipantau dan dikelola secara aktif sehingga kami dapat memberikan pengalaman yang dapat Anda percayai dengan percaya diri.</p>
          <ul>
            <li>Memproses pembayaran</li>
            <li>Melakukan survei</li>
            <li>Melakukan analisis Layanan kami, demografi pelanggan, dan sentimen</li>
            <li>Berkomunikasi dengan Anda</li>
            <li>Pengelolaan hubungan pelanggan</li>
            <li>Keamanan, manajemen risiko, dan kepatuhan</li>
            <li>Merekrut dukungan dan layanan terkait</li>
          </ul>

          <h4>Transfer informasi pribadi ke luar negeri. </h4>
          <p style="text-align: justify;">Jika Anda menggunakan Layanan kami dari negara selain negara tempat server kami berada, informasi pribadi Anda dapat ditransfer melintasi batas internasional, yang hanya akan dilakukan bila diperlukan untuk pelaksanaan kontrak kami dengan Anda, bila kami memiliki persetujuan Anda untuk melakukannya, atau tunduk pada klausul kontrak stAndar yang sesuai. Juga, ketika Anda menghubungi kami atau memulai obrolan, kami dapat memberi Anda dukungan.</p>
          <p style="text-align: justify;">
            Kami bekerja sama dengan pemerintah dan aparat penegak hukum serta pihak swasta untuk menegakkan dan mematuhi hukum. Kami dapat mengungkapkan informasi apa pun tentang Anda kepada pemerintah atau pejabat penegak hukum atau pihak swasta, atas kebijakan kami sendiri, percaya bahwa perlu atau sesuai untuk menanggapi klaim dan proses hukum (seperti permintaan panggilan pengadilan), untuk melindungi properti dan hak kami atau properti dan hak pihak ketiga, untuk melindungi keselamatan publik atau siapa pun, atau untuk mencegah atau menghentikan aktivitas yang kami anggap ilegal atau tidak etis.
            <br>
            Sejauh kami diizinkan secara hukum untuk melakukannya, kami dapat mengambil langkah-langkah yang wajar untuk memberi tahu Anda jika kami diminta untuk memberikan informasi pribadi Anda kepada pihak ketiga sebagai bagian dari proses hukum. Kami juga akan membagikan informasi Anda sejauh yang diperlukan untuk mematuhi aturan, regulasi, kebijakan Kominfo atau perpajakan negara saat Anda menggunakan layanan kami. Alasan penting untuk menjaga keamanan, stabilitas, dan ketahanan digital, dan ketaatan hukum ini sangat diperlukan untuk menjaga dari hal-hal yang tidak diinginkan.
          </p>
          <br>

          <h4>Bagaimana kami mengamankan, menyimpan, dan menyimpan data Anda.</h4>
          <p style="text-align: justify;">Kami mengikuti stAndar yang diterima secara umum untuk menyimpan dan melindungi informasi pribadi yang kami kumpulkan, baik selama transmisi maupun setelah diterima dan disimpan, termasuk penggunaan enkripsi jika sesuai.</p>
          <p style="text-align: justify;">Kami menyimpan informasi pribadi hanya selama diperlukan untuk menyediakan Layanan yang Anda minta dan setelah itu untuk berbagai tujuan hukum atau bisnis yang sah. Ini mungkin termasuk periode retensi :</p>
          <ul>
            <li>diamanatkan oleh undang-undang, kontrak, atau kewajiban serupa yang berlaku untuk operasi bisnis kita;</li>
            <li>untuk melestarikan, menyelesaikan, membela atau menegakkan hak hukum/kontraktual; atau</li>
            <li>diperlukan untuk memelihara catatan bisnis dan keuangan yang memadai dan akurat.</li>
          </ul>
          <p style="text-align: justify;">Jika Anda memiliki pertanyaan tentang keamanan atau penyimpanan informasi pribadi Anda, Anda dapat menghubungi kami di admin@deka.net.id</p>
          <br>

        </div>

        <div class="col-md-3">
          <h5 class="immediate-help-center-title">Butuh bantuan?</h5>
          <p class="immediate-help-center-text">Team Deka siap membantu</p>

          <a class="immediate-help-center-link" href="#">(0274) 422 1111</a>
          <a class="immediate-help-center-link" href="#">support@deka.net.id</a>
          <a class="immediate-help-center-link" href="/send-messages">kirim pesan</a>
        </div>
      </div>

    </div>
  </section>

  <%- include('./partials/banner'); %>
  <%- include('./partials/footer'); %>


  <!-- jquery -->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <!-- bootstrap JavaScript -->
  <script src="/js/bootstrap.min.js"></script>
  <!-- template JavaScript -->
  <script src="/js/template-scripts.js"></script>
  <!-- flickity JavaScript -->
  <script src="/js/flickity.pkgd.min.js"></script>
  <!-- carousel JavaScript -->
  <script src="/owlcarousel/owl.carousel.min.js"></script>
  <!-- parallax JavaScript -->
  <script src="/js/parallax.min.js"></script>
  <!-- mailchamp JavaScript -->
  <script src="/js/mailchamp.js"></script>
  <!-- bootstrap offcanvas -->
  <script src="/js/bootstrap.offcanvas.min.js"></script>
  <!-- touchSwipe JavaScript -->
  <script src="j/s/jquery.touchSwipe.min.js"></script>

  <!-- seconde style additionel JavaScript -->
  <script src="/js/particles-code.js"></script>
  <script src="/js/particles.js"></script>
  <script src="/js/smoothscroll.js"></script>
</body>

</html>
