<!doctype html>
<html lang="en">

<head>
  <%- include('./partials/head', {page: 'Promo'}); %>
</head>

<body>

<%- include('./partials/loading'); %>

  <div id="coodiv-header" class="d-flex mx-auto flex-column moon-edition simple-sub-page">
    <%- include('./partials/navigation', {color: 'dark'}); %>
  </div>

  <!-- <div class="bg-default-2 mx-md-15 mx-5 py-20 mt-24 bg-success">
    <div class="container text-center">
      <h3 class="coodiv-text-3 font-weight-bold">Nantikan penawaran <br>dan promo menarik dari Deka</h3>
    </div>
  </div> -->

  <div class="bg-default-2 mx-md-15 mx-5 py-20 mb-10 mt-24">
    <div class="container text-center">
      <i class="fas fa-tired mb-10 text-danger" style="font-size: 100px"></i>
      <h1 class="coodiv-text-3 font-weight-bold">Promo belum tersedia saat ini</h1>
      <div class="col-lg-6 mx-auto">
        <p class="coodiv-text-9">Nantikan penawaran dan promo menarik lainya.</p>
      </div>
    </div>
  </div>


  <!-- <div class="bg-default-2 mx-md-15 mx-5 py-20 mb-15 mt-10" style="
  min-height: 300px;
  background: url('/img/images/merah-putih.jpg') no-repeat center;
  background-size: cover;
  ">
    <div class="container pt-2 pb-2" style="background-color: rgba(233,233,233,0.7);">
      <div class="text-center">
        <h1 class="coodiv-text-3 font-weight-bold text-white">INTERNET MER<span class="text-red">DEKA</span></h1>
        <div class="col-lg-6 mx-auto">
          <p>GRATIS BIAYA BULAN PERTAMA. <br>Untuk pelanggan baru Deka bulan Agustus 2022.</p>
        </div>
        <hr>
        <span class="badge badge-primary">BERLANGSUNG</span>
      </div>
      <div class="text-center">
      </div>
    </div>
  </div> -->


  <%- include('./partials/banner'); %>
  <%- include('./partials/footer'); %>

  <!-- jquery -->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <!-- bootstrap JavaScript -->
  <script src="/js/bootstrap.min.js"></script>
  <!-- template JavaScript -->
  <script src="/js/template-scripts.js"></script>
  <!-- flickity JavaScript -->
  <script src="/js/flickity.pkgd.min.js"></script>
  <!-- carousel JavaScript -->
  <script src="/owlcarousel/owl.carousel.min.js"></script>
  <!-- parallax JavaScript -->
  <script src="/js/parallax.min.js"></script>
  <!-- mailchamp JavaScript -->
  <script src="/js/mailchamp.js"></script>
  <!-- bootstrap offcanvas -->
  <script src="/js/bootstrap.offcanvas.min.js"></script>
  <!-- touchSwipe JavaScript -->
  <script src="/js/jquery.touchSwipe.min.js"></script>

  <!-- seconde style additionel JavaScript -->
  <script src="js/particles-code.js"></script>
  <script src="js/particles.js"></script>
  <script src="js/smoothscroll.js"></script>
</body>

</html>
