<!doctype html>
<html lang="en">

<head>
  <%- include('../partials/head', {page: 'CONNEX'}); %>
</head>


<body><!-- start body -->

  <%- include('../partials/loading'); %>
  <!-- end preloader -->

  <div id="coodiv-header" class="d-flex mx-auto flex-column moon-edition services-page">
    <span style="background: #f0f5f7;" class="services-page-bg-overflow"></span>
    <!-- Fixed navbar -->
    <%- include('../partials/navigation', {color: 'dark'}); %>



    <main class="container pt-30 pb-25">
      <div style="background-image: url('/img/images/connex.jpg');" class="services-page-bg-overflow full-width img-bg"></div>
      <div class="row justify-content-start">
        <div class="col-md-7 col-12 white-text">
          <h3 class="main-header-title coodiv-text-3 font-weight-bold text-black">Tingkatkan Produktivitas Dalam Bekerja</h3>
          <p class="coodiv-text-9">CONNEX merupakan layanan akses internet cepat yang ditujukan bagi pengguna corporate atau kalian yang membutuhkan akses internet lebih cepat dan stabil.</p>
          <ul class="main-header-features green-check">
            <li><i class="fal fa-check"></i> 24/7 dukungan penuh</li>
            <li><i class="fal fa-check"></i> Unlimited tanpa FUP</li>
          </ul>
        </div>
      </div>
    </main>
  </div>

  <div class="container">
    <div class="features-box-hero row justify-content-center">
      <div class="item col-md-4 col-12 d-flex">
        <i class="fas fa-badge-check"></i>
        <div class="text">
          <h5>Kualitas</h5>
          <p>Memiliki jaminan uptime dan kecepatan lebih baik dan lebih dapat diAndalkan</p>
        </div>
      </div>
      <div class="item col-md-4 col-12 d-flex">
        <i class="fas fa-user-headset"></i>
        <div class="text">
          <h5>Dukungan</h5>
          <p>24 jam selama 7 hari dukungan penuh dan penanganan gangguan lebih cepat</p>
        </div>
      </div>
      <div class="item col-md-4 col-12 d-flex">
        <i class="fas fa-infinity"></i>
        <div class="text">
          <h5>Unlimited</h5>
          <p>Tanpa batasan kuota atau FUP sehingga lebih nyaman digunakan saat bekerja</p>
        </div>
      </div>
    </div>
  </div>

  <section class="py-25 position-relative">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-12 text-center">
          <h3 class="coodiv-text-4 font-weight-bold">Tentukan Pilihan Sesuai Kebutuhan</h3>
          <p class="content_text_author_description_p">
            Tersedia 3 pilihan layanan CONNEX yang dapat dipilih.
            Silahkan hubungi customer support Deka untuk memastikan layanan yang Anda pilih cukup untuk memenuhi kebutuhan digital Anda.
          </p>
        </div>
      </div>

      <div class="row justify-content-center">
        <div id="monthly-yearly-chenge" class="mr-tp-20 custom-change">
          <a class="active monthly-price f-size12"> <span class="change-box-text">bulanan</span> <span class="change-box"></span></a>
          <a class="yearli-price f-size12"> <span class="change-box-text">tahunan</span></a>
        </div>
      </div>

      <div class="row justify-content-center first-pricing-table-container mr-tp-30">
        <div class="col-md-4">
          <div class="first-pricing-table version-two">
            <i class="fas fa-tachometer-alt-average first-pricing-table-icon"></i>
            <h5 class="first-pricing-table-title">20 Mbps</h5>
            <span class="plan-price second-pricing-table-price monthly">
              <i class="monthly">Rp.500.000 <span>/bulan</span></i>
              <i class="yearly">Rp.5.500.000 <span>/tahun</span></i>
            </span>
            <span class="main-features-box"><i class="fas fa-fighter-jet"></i> Kecepatan Up To 20 Mbps</span>
            <span class="main-features-box mb-6"><i class="fas fa-infinity"></i> UNLIMITED Tanpa FUP</span>
            <ul class="first-pricing-table-body">
              <li><i class="fas fa-user-headset"></i> Prioritas Tiket</li>
              <li><i class="fas fa-satellite-dish"></i> Perangkat Dipinjamkan</li>
              <li><i class="fas fa-globe"></i> Private IP Address</li>
              <li><i class="fas fa-server"></i> <s>Gratis Mikrotik Router</s></li>
            </ul>
            <a href="/subscribe/connex-20" class="btn btn-dark coodiv-text-11 mt-10 d-block">BERLANGGANAN</a>
          </div>
        </div>

        <div class="col-md-4">
          <div class="first-pricing-table version-two best-plan">
            <i class="fas fa-tachometer-alt-fast first-pricing-table-icon"></i>
            <h5 class="first-pricing-table-title">40 Mbps</h5>
            <span class="plan-price second-pricing-table-price monthly">
              <i class="monthly">Rp.1.000.000 <span>/bulan</span></i>
              <i class="yearly">Rp.11.000.000 <span>/tahun</span></i>
            </span>
            <span class="main-features-box"><i class="fas fa-fighter-jet"></i> Kecepatan Up To 40 Mbps</span>
            <span class="main-features-box mb-6"><i class="fas fa-infinity"></i> UNLIMITED Tanpa FUP</span>
            <ul class="first-pricing-table-body">
              <li><i class="fas fa-user-headset"></i> Prioritas Tiket</li>
              <li><i class="fas fa-satellite-dish"></i> Perangkat Dipinjamkan</li>
              <li><i class="fas fa-globe"></i> Private IP Address</li>
              <li><i class="fas fa-server"></i> <s>Gratis Mikrotik Router</s></li>
            </ul>
            <a href="/subscribe/connex-40" class="btn btn-dark coodiv-text-11 mt-10 d-block">BERLANGGANAN</a>
          </div>
        </div>

        <div class="col-md-4">
          <div class="first-pricing-table version-two">
            <i class="fas fa-tachometer-alt-fastest first-pricing-table-icon"></i>
            <h5 class="first-pricing-table-title">60 Mbps</h5>
            <span class="plan-price second-pricing-table-price monthly">
              <i class="monthly">Rp.1.500.000 <span>/bulan</span></i>
              <i class="yearly">Rp.16.500.000 <span>/tahun</span></i>
            </span>
            <span class="main-features-box"><i class="fas fa-fighter-jet"></i> Kecepatan Up To 60 Mbps</span>
            <span class="main-features-box mb-6"><i class="fas fa-infinity"></i> UNLIMITED Tanpa FUP</span>
            <ul class="first-pricing-table-body">
              <li><i class="fas fa-user-headset"></i> Prioritas Tiket</li>
              <li><i class="fas fa-satellite-dish"></i> Perangkat Dipinjamkan</li>
              <li><i class="fas fa-globe"></i> Private IP Address</li>
              <li><i class="fas fa-server"></i> Gratis Mikrotik Router</li>
            </ul>
            <a href="/subscribe/connex-60" class="btn btn-dark coodiv-text-11 mt-10 d-block">BERLANGGANAN</a>
          </div>
        </div>
      </div>



    </div>
  </section>

  <section class="padding-100-0-0 with-top-border mb-12">
    <div class="container">
      <h5 class="title-default-coodiv-two"><i class="fas fa-question-circle"></i> Informasi Layanan</h5>

      <div class="row justify-content-center mr-tp-40">
        <div class="col-md-9">

          <div class="accordion" id="frequently-questions">

            <div class="questions-box">
              <div id="headingOne">
                <button class="btn questions-title" type="button" data-toggle="collapse" data-target="#questionone" aria-expanded="true" aria-controls="questionone">
                  Apa itu layanan CONNEX?
                </button>
              </div>

              <div id="questionone" class="collapse show questions-reponse" aria-labelledby="headingOne" data-parent="#frequently-questions">
                CONNEX adalah layanan akses internet Broadband dari Deka yang ditujukan untuk pengguna corporate atau pengguna sekala besar.
                Memiliki kestabilan dan jaminan kecepatan lebih baik sehingga dapat memastikan kualitas akses internet yang lebih dapat diAndalkan.
              </div>
            </div>

            <div class="questions-box">
              <div id="headingtwo">
                <button class="btn questions-title collapsed" type="button" data-toggle="collapse" data-target="#questiontwo" aria-expanded="true" aria-controls="questiontwo">
                  Berapa biaya registrasi/instalasi?
                </button>
              </div>

              <div id="questiontwo" class="collapse questions-reponse" aria-labelledby="headingtwo" data-parent="#frequently-questions">
                Biaya registrasi/instalasi sebesar Rp.750.000 tidak termasuk perangkat ditambahkan yang diperlukan.
                Biaya instalasi keseluruhan dapat diketahui setelah dilakukan survei ke lokasi Anda.
              </div>
            </div>

            <div class="questions-box">
              <div id="headingtree">
                <button class="btn questions-title collapsed" type="button" data-toggle="collapse" data-target="#questiontree" aria-expanded="true" aria-controls="questiontree">
                  Bagaimana cara berlangganan?
                </button>
              </div>

              <div id="questiontree" class="collapse questions-reponse" aria-labelledby="headingtree" data-parent="#frequently-questions">
                Kamu cukup mengisi form berlangganan yang yang telah disediakan atau menghubungi customer support Deka.
                Team Deka akan datang ke Lokasi kamu untuk mengetahui ketersediaan jaringan dan kebutuhan perangkat.
                Selanjutnya akan dilakukan pemasangan jaringan internet di lokasi kamu.
              </div>
            </div>

          </div>

        </div>
      </div>

    </div>
  </section>

  <%- include('../partials/banner'); %>
  <%- include('../partials/footer'); %>

  <!-- jquery -->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <!-- bootstrap JavaScript -->
  <script src="/js/bootstrap.min.js"></script>
  <!-- template JavaScript -->
  <script src="/js/template-scripts.js"></script>
  <!-- flickity JavaScript -->
  <script src="/js/flickity.pkgd.min.js"></script>
  <!-- carousel JavaScript -->
  <script src="/owlcarousel/owl.carousel.min.js"></script>
  <!-- parallax JavaScript -->
  <script src="/js/parallax.min.js"></script>
  <!-- mailchamp JavaScript -->
  <script src="/js/mailchamp.js"></script>
  <!-- bootstrap offcanvas -->
  <script src="/js/bootstrap.offcanvas.min.js"></script>
  <!-- touchSwipe JavaScript -->
  <script src="/js/jquery.touchSwipe.min.js"></script>
  <!-- seconde style additionel JavaScript -->
  <script src="/js/particles-code.js"></script>
  <script src="/js/particles.js"></script>
  <script src="/js/smoothscroll.js"></script>
</body>

</html>
