<!doctype html>
<html lang="en">

<head>
  <%- include('../partials/head', {page: 'HOPE'}); %>
</head>

<body><!-- start body -->

  <%- include('../partials/loading'); %>
  <!-- end preloader -->


  <div id="coodiv-header" class="d-flex mx-auto flex-column moon-edition simple-sub-page">
    <!-- Fixed navbar -->
    <%- include('../partials/navigation', {color: 'dark'}); %>
  </div>


  <div class="mt-20 py-20">
    <div class="container text-center">
      <h1 class="coodiv-text-3 font-weight-bold">Home, Office, Personal & Education</h1>
      <div class="col-lg-6 mx-auto"><p class="coodiv-text-9">Buat kamu yang butuh internet cepat tapi tetap hemat</p></div>
    </div>
  </div>

  <section>
    <div class="container">

      <div class="row justify-content-center align-items-center mb-15">
        <div id="monthly-yearly-chenge" class="style-two mb-0">
          <a class="active monthly-price"> <span class="change-box-text">Bulanan</span> <span class="change-box"></span></a>
          <a class="yearli-price"> <span class="change-box-text">Tahunan</span></a>
        </div>
        <span class="price-discount-billed">Lebih Hemat</span>
      </div>


      <div class="row justify-content-center second-pricing-table-container dedicated-version mr-tp-30">

        <div class="col-md-4">
          <div class="second-pricing-table">
            <h5 class="second-pricing-table-title">
              HOPE Lite
              <span>
                <i class="fas fa-comment"></i>
                <i class="fas fa-browser"></i>
                <i class="fas fa-music"></i>
              </span>
            </h5>
            <span class="second-pricing-table-price monthly">
              <i class="monthly">Rp.150.000<small> /bulan</small></i>
              <i class="yearly">Rp.1.650.000<small> /tahun</small></i>
            </span>

            <ul class="second-pricing-table-body">
              <li>Kecepatan Up To <strong>5 Mbps</strong></li>
              <li><strong>UNLIMITED</strong> bandwidth</li>
              <li><strong>Tanpa Kuota / FUP</strong></li>
              <li>Dukungan <strong>24/7</strong></li>
              <li><strong>Private</strong> IP Address</li>
              <li class="not-chacked">Perangkat Dipinjami</li>
            </ul>

            <ul class="second-pricing-table-body-features">
              <li>
                <span><strong>Rekomendasi Penggunaan</strong>Perorangan atau pribadi</span>
              </li>
              <li>
                <span>Belum termasuk biaya registrasi / instalasi</span>
              </li>
            </ul>

            <a class="second-pricing-table-button" href="/subscribe/hope-lite">Pilih Layanan</a>

          </div>
        </div>

        <div class="col-md-4">
          <div class="second-pricing-table style-2">
            <h5 class="second-pricing-table-title">
              HOPE Home
              <span>
                <i class="fas fa-comment"></i>
                <i class="fas fa-browser"></i>
                <i class="fas fa-music"></i>
                <i class="fab fa-youtube"></i>
              </span>
            </h5>
            <span class="second-pricing-table-price monthly">
              <i class="monthly">Rp.200.000<small> /bulan</small></i>
              <i class="yearly">Rp.2.200.000<small> /tahun</small></i>
            </span>

            <ul class="second-pricing-table-body">
              <li>Kecepatan Up To <strong>10 Mbps</strong></li>
              <li><strong>UNLIMITED</strong> bandwidth</li>
              <li><strong>Tanpa Kuota / FUP</strong></li>
              <li>Dukungan <strong>24/7</strong></li>
              <li><strong>Private</strong> IP Address</li>
              <li class="not-chacked">Perangkat Dipinjami</li>
            </ul>

            <ul class="second-pricing-table-body-features">
              <li>
                <span><strong>Rekomendasi Penggunaan</strong>Pribadi atau keluarga</span>
              </li>
              <li>
                <span>Belum termasuk biaya registrasi / instalasi</span>
              </li>
            </ul>

            <a class="second-pricing-table-button" href="/subscribe/hope-home">Pilih Layanan</a>

          </div>
        </div>

      </div>
      <div class="row justify-content-center second-pricing-table-container dedicated-version mr-tp-30">

        <div class="col-md-4">
          <div class="second-pricing-table style-2 active">
            <h5 class="second-pricing-table-title">
              Hope Play
              <span>
                <i class="fas fa-comment"></i>
                <i class="fas fa-browser"></i>
                <i class="fas fa-music"></i>
                <i class="fab fa-youtube"></i>
                <i class="fas fa-gamepad"></i>
              </span>
            </h5>
            <span class="second-pricing-table-price monthly">
              <i class="monthly">Rp.250.000<small> /bulan</small></i>
              <i class="yearly">Rp.2.750.000<small> /tahun</small></i>
            </span>

            <ul class="second-pricing-table-body">
              <li>Kecepatan Up To <strong>15 Mbps</strong></li>
              <li><strong>UNLIMITED</strong> bandwidth</li>
              <li><strong>Tanpa Kuota / FUP</strong></li>
              <li>Dukungan <strong>24/7</strong></li>
              <li><strong>Private</strong> IP Address</li>
              <li>Perangkat Dipinjami</li>
            </ul>

            <ul class="second-pricing-table-body-features">
              <li>
                <span><strong>Rekomendasi Penggunaan</strong>Perorangan atau keluarga</span>
              </li>
              <li>
                <span>Belum termasuk biaya registrasi / instalasi</span>
              </li>
            </ul>

            <a class="second-pricing-table-button" href="/subscribe/hope-play">Pilih Layanan</a>

          </div>
        </div>

        <div class="col-md-4">
          <div class="second-pricing-table style-2">
            <h5 class="second-pricing-table-title">
              HOPE Office
              <span>
                <i class="fas fa-comment"></i>
                <i class="fas fa-browser"></i>
                <i class="fas fa-music"></i>
                <i class="fab fa-youtube"></i>
                <i class="fas fa-gamepad"></i>
                <i class="fas fa-cloud-download"></i>
                <i class="fas fa-video"></i>
              </span>
            </h5>
            <span class="second-pricing-table-price monthly">
              <i class="monthly">Rp.300.000<small> /bulan</small></i>
              <i class="yearly">Rp.3.300.000<small> /tahun</small></i>
            </span>

            <ul class="second-pricing-table-body">
              <li>Kecepatan Up To <strong>20 Mbps</strong></li>
              <li><strong>UNLIMITED</strong> bandwidth</li>
              <li><strong>Tanpa Kuota / FUP</strong></li>
              <li>Dukungan <strong>24/7</strong></li>
              <li><strong>Private</strong> IP Address</li>
              <li>Perangkat Dipinjami</li>
            </ul>

            <ul class="second-pricing-table-body-features">
              <li>
                <span><strong>Rekomendasi Penggunaan</strong>Keluarga atau kantor sekala kecil</span>
              </li>
              <li>
                <span>Belum termasuk biaya registrasi / instalasi</span>
              </li>
            </ul>

            <a class="second-pricing-table-button" href="/subscribe/hope-office">Pilih Layanan</a>

          </div>
        </div>

      </div>

    </div>
  </section>

  <section class="py-25 bg-default-2 mt-12">
    <div class="container">
      <div class="row justify-content-start">
        <div class="col-md-6 col-12">
          <div class="title-default-coodiv-four">
            <h5 class="coodiv-text-5 font-weight-bold"><i class="fas fa-question-circle mr-2"></i>Informasi Layanan</h5>
            <p class="coodiv-text-9"></p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="faq-section-bredh" id="faq">
            <div class="faq-section-bredh-section">
              <div class="" id="faqone">
                <button class="faq-section-bredh-title" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  Apa itu layanan HOPE?
                </button>
              </div>

              <div id="collapseOne" class="faq-section-bredh-text collapse" aria-labelledby="faqone" data-parent="#faq">
                <p>
                  HOPE atau kependekan dari Home, Office, Personal & Education adalah layanan dari Deka yang ditujukan untuk pengguna personal, keluarga hingga kantor sekala kecil.
                  Menawarkan biaya bulanan yang terjangkau namun dengan kecepatan yang dapat memenuhi kebutuhan harian kamu.
                </p>
              </div>
            </div>

            <div class="faq-section-bredh-section">
              <div class="" id="faqtwo">
                <button class="faq-section-bredh-title" data-toggle="collapse" data-target="#collapsetwo" aria-expanded="false" aria-controls="collapsetwo">
                  Berapa biaya registrasi/Instalasi?
                </button>
              </div>

              <div id="collapsetwo" class="faq-section-bredh-text collapse" aria-labelledby="faqtwo" data-parent="#faq">
                <p>
                  Untuk HOPE Lite dan HOPE Home biaya registrasi sebesar Rp.200.000 dengan perangkat yang nantinya akan dibebankan kepada calon pelanggan.
                  Sedangkan untuk HOPE Play dan HOPE Office biaya registrasi sebesar Rp.750.000 dengan perangkat yang disediakan/dipinjamkan oleh Deka.
                </p>
              </div>
            </div>

            <div class="faq-section-bredh-section">
              <div class="" id="faqtree">
                <button class="faq-section-bredh-title" data-toggle="collapse" data-target="#collapsetree" aria-expanded="false" aria-controls="collapsetree">
                  Bagaimana cara berlangganan?
                </button>
              </div>

              <div id="collapsetree" class="faq-section-bredh-text collapse" aria-labelledby="faqtree" data-parent="#faq">
                <p>
                  Kamu cukup mengisi form berlangganan yang yang telah disediakan atau menghubungi customer support Deka. Team Deka akan datang ke Lokasi
                  kamu untuk mengetahui ketersediaan jaringan dan kebutuhan perangkat. Selanjutnya akan dilakukan pemasangan jaringan internet di lokasi kamu.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include('../partials/banner'); %>
  <%- include('../partials/footer'); %>

  <!-- jquery -->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <!-- bootstrap JavaScript -->
  <script src="/js/bootstrap.min.js"></script>
  <!-- template JavaScript -->
  <script src="/js/template-scripts.js"></script>
  <!-- flickity JavaScript -->
  <script src="/js/flickity.pkgd.min.js"></script>
  <!-- carousel JavaScript -->
  <script src="/owlcarousel/owl.carousel.min.js"></script>
  <!-- parallax JavaScript -->
  <script src="/js/parallax.min.js"></script>
  <!-- mailchamp JavaScript -->
  <script src="/js/mailchamp.js"></script>
  <!-- bootstrap offcanvas -->
  <script src="/js/bootstrap.offcanvas.min.js"></script>
  <!-- touchSwipe JavaScript -->
  <script src="/js/jquery.touchSwipe.min.js"></script>

  <!-- seconde style additionel JavaScript -->
  <script src="/js/particles-code.js"></script>
  <script src="/js/particles.js"></script>
  <script src="/js/smoothscroll.js"></script>
</body>

</html>
